<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BrawijayaPreneur</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/icon.png" rel="icon">
    <link href="/img/icon.png" rel="apple-touch-icon">

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        div {
            margin-bottom: 10px;
        }

        table {
          width: 50%;
          counter-reset: row-num;
          counter-reset: row-num-1;
        }
        table tr {
          counter-increment: row-num;
        }
        table tr td:first-child::before {
            content: counter(row-num) ". ";
        }

        body {
          background-color: #444444;
          font-family: "Poppins", sans-serif;
          color: #00EAFA;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: "Poppins", sans-serif;
        }
    </style>

</head>
<body class="page-top">
    <div class="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <nav class="navbar navbar-expand topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link" href="/welcomeHome" id="messagesDropdown" style="color: #00EAFA;">
                                Back</i>
                            </a>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-3 d-none d-lg-inline text-white-600 large" style="margin-left: 5px; color: #00EAFA;" id="nameElement"></span>
                                <img class="img-profile rounded-circle"
                                    src="/img/profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/api/auth/logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0">Data Riset</h1>
                        {{!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> --}}
                    </div>

                    <div class="btn-back">
                        <form action="/welcomeHome/articles/tags">
                        <select id="kategori" name="tags" onchange="this.form.submit()" class="form-control">
                            <option value="">Pilih Kategori</option>
                            <option value="all">All</option>
                            <option value="marketing">Marketing</option>
                            <option value="operation">Operation</option>
                            <option value="humanresource">Human Resource</option>
                            <option value="product">Product</option>
                        </select>
                        </form>
                    </div>
                    <!-- Content Row -->

                        <!-- Area Chart -->
                        <div >
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body">
                                    <table cellpadding="0" class="table">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Title</th>
                                                <th>Author</th>
                                                <th>Kategori</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each data}}
                                            <tr>
                                                <td></td>
                                                <td>{{this.title}}</td>
                                                <td>{{this.author}}</td>
                                                <td>{{this.tags}}</td>
                                                <td>
                                                    <form action="/welcomeHome/articles/download/{{this.id_article}}">
                                                        <input type="submit" value="Download" class="btn btn-success">
                                                    </form>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <script>
    fetch('http://localhost:5000/api/auth/getdata')
    .then(response => response.json())
    .then(data => {
      const store = {
        name: data.name
      };

      // Mengakses data yang diterima dari backend
      const nameElement = document.getElementById('nameElement');
      nameElement.textContent = store.name;

      // Melakukan tindakan atau memperbarui tampilan dengan data yang diterima
    })
    .catch(error => {
      console.error('Error:', error);
      // Menangani kesalahan jika terjadi masalah saat mengambil data dari backend
    });
    </script>
</body>
</html>